/*HEADER*/
.header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #493370;
}

.header__logo img{
    height: 80px;
    width: 100%;
}

.header__menu{
    display: flex;
}

.menu__item{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 400;
}
.menu__item a{
    color: #fff;
}

/*MAIN*/

.main .container{
    background-color: #fff;
    height: 100%;
}

.main__img img{
    display: block;
    margin: 0 auto;
    padding: 80px 0 20px;
    height: 100vh;
}

/*FOOTER*/

.footer .container{
    background-color: #fff;
    height: 100%;
}

.footer{
    text-align: center;
}

.footer__title{
    font-size: 20px;
    margin-bottom: 15px;
}

.footer__body{
    font-size: 15px;
    line-height: 1.5;
}

.footer__body a{
    color: #000;
}